<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="worker" class="bd.SimpleBDWorker">
        <property name="dbcommander" ref="dbcommander"/>
        <property name="tablecommander" ref="tablecommander"/>
    </bean>
    <bean id="dbcommander" class="bd.db.SimpleDBCommander">
    </bean>
    <bean id="tablecommander" class="bd.table.SimpleTableCommander">
    </bean>

</beans>
